<ion-content>
  <ion-slides mode="ios" pager="true">
    <ion-slide>
      <img src="assets/Portada1.jpg" />
    </ion-slide>
    <ion-slide>
      <img src="assets/Portada2.jpg" />
    </ion-slide>
    <ion-slide class="slide ion-padding">
      <ion-button
        (click)="onClick()"
        expand="full"
        size="large"
        class="ion-padding ion-margin-top"
        >Comenzar</ion-button
      >
      <ion-img src="assets/Capa2.png"></ion-img>
    </ion-slide>
  </ion-slides>
</ion-content>
