ion-slides {
  height: 100%;
  background-color: #fada00;
  --bullet-background-active: #262728;
}
ion-slide {
  height: 100%;
}
img {
  object-fit: cover;
}

ion-button {
  --background: #262728;
  --background-activated: #3c3d3e;
  width: 80%;
  height: auto;
}
.slide {
  display: flex;
  flex-direction: column-reverse;
}
ion-img {
  width: 90%;
}
